<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rokket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

    <!-- TODO: STYLE PAGE -->

    <div class="container">
        <img src="img/RokketHeader.png" alt="">
        <h2>A web application to find the latest Rocket launches! </h2>
        <p>The rocket data is pull from <a href="https://launchlibrary.net/docs/1.4/api.html">Launch Library</a></p>
        <p>Logo image <a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a></p>
        <form action="/map">
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>
</body>
</html>